/*==============================================================================General
==============================================================================*/
/*----------------------------------------
  General Layout Style
------------------------------------------*/
html.page-center {
  display: table;
  margin: auto;
  height: 100%;
  
}
body.page-center {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.check {
  background: url(check.jpg) no-repeat center center;
}

.input-field .prefix {
  margin-top: 6px;
}
label:after {
  transition-property: all !important;
  font-size: 0.8rem;
  transform: none;
}
label:not(.active):after {
  transform: translateY(-140%);
}

body {
  background-color: #fcfcfc;
}
#main,
footer {
  padding-left: 300px;
}
.margin {
  margin: 0;
}
#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}
#sidenav-overlay {
  background-color: transparent;
}
.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 98%;
}

#left-sidebar-nav span.badge.new {
  line-height: 20px;
  margin-top: 11px;
}

#content .container .row {
  margin-bottom: 0;
}
@media only screen and (max-width: 993px) {
  #main,
  footer {
    padding-left: 0px;
  }
}
.live-date,
.live-time {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
/*---------------------------------
    Typography
-----------------------------------*/
.small {
  font-size: 1.0rem;
  margin: 0;
  padding: 0;
}
.medium-small {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}
.ultra-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
.strong {
  font-weight: 600;
}
h4.header {
  font-size: 1.5rem;
  line-height: 2.508rem;
  margin: 1.14rem 0 0.912rem 0;
  font-weight: 400;
  text-transform: uppercase;
}
h4.header2 {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}
p.title {
  font-size: 1.3rem;
}
p.header {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
li.li-hover:hover{
  background: transparent !important;
}
.more-text{
  padding: 5px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*==============================================================================
    Header
==============================================================================*/
h1.logo-wrapper{
  margin: 0px 0px;
}
h1 span.logo-text{
  display: none;
}
header .brand-logo {
  margin: 5px 0px;
  padding: 0 20px;
}
@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}
li.search-out:hover{
  background: transparent;
}
.search-out{
  display: none;
}
.search-out-text{
  border-bottom: 1px solid #fff !important;
}
.search-out input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid #fff !important; 
  box-shadow: none;
}
/*==============================================================================
    Sidebar
==============================================================================*/
/*----------------------------------------
    Sidebar Main Menu 
------------------------------------------*/
ul.side-nav.fixed {
  top: 64px;
}
@media only screen and (max-width: 992px) {
  ul.side-nav.fixed {
    top: 56px;
  }
}
ul.side-nav.fixed hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}
#slide-out li a i {
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

.collapsible-header.active:after {
  content: "keyboard_arrow_down";
  color: #00bcd4;
}
.collapsible-header:after {
  font-family: "Material Icons";
  content: "keyboard_arrow_right";
  color: rgba(0, 0, 0, 0.54);
  width: 2rem;
  font-size: 1.6rem;
  float: right;
  text-align: center;
  margin: 0;
}

#slide-out ul.side-nav li {
  padding: 0px !important;
}
ul.side-nav li {
  padding: 0;
}
ul.side-nav .collapsible-header {
  margin: 0;
}
.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -48px;
}
@media only screen and (min-width: 601px) {
  .sidebar-collapse {
    top: -54px;
  }
}
ul.side-nav.fixed {
  overflow: hidden;
}
ul.side-nav.fixed li {
  line-height: 44px;
}
ul.side-nav.fixed li:hover,
ul.side-nav.fixed li.active {
  background-color: rgba(0, 0, 0, 0.05);
}
ul.side-nav.fixed li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
}
ul.side-nav.fixed li.active > a,
ul.side-nav.fixed li.active > a i {
  color: #00bcd4;
}
.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
  margin: 0 1rem 0 3rem;
  padding: 0 23.5px 0 0px;
}
ul.side-nav.fixed ul.collapsible-accordion {
  background-color: #FFF;
}
ul.side-nav.fixed ul.collapsible-accordion .collapsible-header i:nth-child(2){
  float: right !important;
  margin: 0 !important;
}
ul.side-nav.fixed li.user-details {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 10px;
  padding: 15px 0px 0px 15px;
}
.user-details .row {
  margin: 0;
}
.user-task,
.user-time {
  margin: 0;
  font-size: 13px;
  color: #fff;
}
ul.side-nav.fixed .profile-btn {
  margin: 0;
  text-transform: capitalize;
  padding: 0;
  text-shadow: 1px 1px 1px #444;
  font-size: 15px;
}
ul.side-nav.fixed .profile-btn i {
  margin: 0 !important;
}
.user-roal {
  color: #fff;
  margin-top: -16px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #444;
}
nav.top-nav {
  height: 122px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px;
}
/*----------------------------------------
    Right Chat Slideout
------------------------------------------*/

.rightside-navigation {
  overflow: hidden;
}
.chat-close-collapse {
  padding: 4px 10px 0 0 !important;
  float: right;
}
.chat-close-collapse i{
  margin-right: 0 !important;
}
#right-search .input-field {
  margin-top: 0px;
}
#chat-out .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: 45px;
  height: 45px;
  font-weight: 400;  
}
#chat-out .chat-out-list {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
#chat-out .favorite-associate-list .circle {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 3px;
  display: block;
}
#chat-out .favorite-associate-list .online-user {
  border: 2px solid #00e676;
}
#chat-out .recent-activity-list-icon {
  margin-top: 8px;
  font-size: 2rem;
}
#chat-out .recent-activity-list-text a {
  font-size: 0.8rem;
  padding: 0;
  font-weight: 600;
}
#chat-out .recent-activity-list-text p {
  font-size: 0.9rem;
  padding: 0;
}
#chat-out .favorite-associate-list p {
  padding: 0;
}
#chat-out .favorite-associate-list p.place {
  font-size: 0.8rem;
}
/* =============================================================================
    Content
==============================================================================*/
/*----------------------------------------
    Breadcrumb
------------------------------------------*/
#page-nav {
  height: auto;
}
.page-title {
  font-size: 1.5rem;
  margin: 0px;
  padding: 1rem 0 0;
  color: black;
}
@media only screen and (max-width: 992px){
  .page-title {
    padding: 1rem 0;
  }
}
.breadcrumb,
.breadcrumb:before {
  color: #00bcd4;
}
.breadcrumb:last-child {
  color: #999;
}

/*----------------------------------------
    Chrome Browser Grid Example
------------------------------------------*/
.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  -webkit-border-radius: 5px 5px 2px 2px;
  -moz-border-radius: 5px 5px 2px 2px;
  border-radius: 5px 5px 2px 2px;
  background-clip: padding-box;
  background-color: transparent;
  margin: 20px 0px;
  overflow: hidden;
}
.browser-window .top-bar {
  height: 30px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
  border-top: thin solid #eaeae9;
  border-bottom: thin solid #dfdfde;
  background: linear-gradient(#e7e7e6, #E2E2E1);
}
.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: white;
  margin-right: 1px;
}
#close-circle {
  background-color: #FF5C5A;
}
#minimize-circle {
  background-color: #FFBB50;
}
#maximize-circle {
  background-color: #1BC656;
}
.browser-window .circles {
  margin: 5px 12px;
}
.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}
.browser-window .row {
  margin: 0;
}
.clear {
  clear: both;
}
.promo i {
  color: #ee6e73;
  font-size: 6rem;
  display: block;
}
.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0px;
}
/*----------------------------------------
    Login Page
------------------------------------------*/
.form-card {
  width: 280px;  
}
.form-card-logo {
  width: 100px;
  height: 100px !important;
}
.form-card-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.64rem;
  margin: 0.82rem 0 0.656rem 0;
}
/*----------------------------------------
    Error Page
------------------------------------------*/
.text-long-shadow {
  text-shadow: rgb(29, 125, 116) 1px 1px, rgb(29, 125, 116) 2px 2px, rgb(29, 125, 116) 3px 3px, rgb(29, 125, 116) 4px 4px, rgb(29, 125, 116) 5px 5px, rgb(29, 125, 116) 6px 6px, rgb(29, 125, 116) 7px 7px, rgb(29, 125, 116) 8px 8px, rgb(29, 125, 116) 9px 9px, rgb(29, 125, 116) 10px 10px, rgb(29, 125, 116) 11px 11px, rgb(29, 125, 116) 12px 12px, rgb(29, 125, 116) 13px 13px, rgb(29, 125, 116) 14px 14px, rgb(29, 126, 117) 15px 15px, rgb(29, 128, 119) 16px 16px, rgb(30, 130, 120) 17px 17px, rgb(30, 132, 122) 18px 18px, rgb(30, 133, 124) 19px 19px, rgb(31, 135, 125) 20px 20px, rgb(31, 137, 127) 21px 21px, rgb(32, 139, 129) 22px 22px, rgb(32, 141, 130) 23px 23px, rgb(32, 142, 132) 24px 24px, rgb(33, 144, 134) 25px 25px, rgb(33, 146, 135) 26px 26px, rgb(34, 148, 137) 27px 27px, rgb(34, 149, 139) 28px 28px, rgb(34, 151, 140) 29px 29px, rgb(35, 153, 142) 30px 30px, rgb(35, 155, 144) 31px 31px, rgb(36, 157, 145) 32px 32px, rgb(36, 158, 147) 33px 33px, rgb(36, 160, 149) 34px 34px, rgb(37, 162, 150) 35px 35px, rgb(37, 164, 152) 36px 36px, rgb(38, 166, 154) 37px 37px;
  background-color: rgb(38, 166, 154);
  /*height: 100%;*/  
  width: 100%;
  font-size: 10rem;
  color: #fff !important;
  text-align: center;
  padding: 20px 0 !important;
}

/*==============================================================================
    Footer
==============================================================================*/
footer.page-footer {
  padding-top: 0px;
}

/*==============================================================================
    Media Queries
==============================================================================*/
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
  
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  
}

